.containerPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerSecundario{
    text-align: center;
    justify-content: center;
    border: 2px solid #0884FC;
    border-radius: 10px;
    padding: 40px 40px 20px 40px;
    background-color: white;
    width: 445px;
}

.containerSecundario .ant-form-item-explain {
    text-align: left !important;
}

.ant-form-item-explain, .ant-form-item-extra {
    text-align: left !important;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword{
    color: #0884FC;
}

.bttn{
    width: 250px;
    margin: 0 auto;
    background-color: #0884FC;
    color: white;
}

.labelIngreso{
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 30px;
}

.bttnLoginGoogle{
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 250px;
    margin-top: -10px;
    gap: 4px;
}